header {
  background-color: #99667F;
  color: white;
  text-align: center;
}

.main {
  background-color: #D9D8D7;
  padding: 2px;
}

body {
  background-image: url("record.png");
  background-repeat: repeat;
  margin: 0px;
  padding: 1em;
}
